.corpo {
    background-image: url(img/matrix.jpg);
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh; /* Define a altura do body para 100% da viewport */
    margin: 0;
    font-family: Arial, sans-serif;
}

.titulo {
    text-align: center;
    color: rgb(51, 255, 0);
}

.matrix {
    color: blue;
}

.filme {
    display: flex;
    justify-content: center; 
    align-items:center; 
    height: 100vh; 
}