.corpo {
    background-image: url(img/matrix.jpg);
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh; /* Define a altura do body para 100% da viewport */
    margin: 0;
    font-family: Arial, sans-serif;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 50px;
}

.matrix {
    color: rgb(39, 238, 73);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}

.filme {
    display: flex;
    justify-content: center; 
    align-items:center; 
    height: 100vh; 
}